p {color: blue;}

header {background-color: aqua;}
<--We have the bodypage color set and, currenly we have the body size at 1664px that is common on MACos systems.-->
main {background-color: aliceblue;
height: 1664px;}

footer {background-color: lightblue;
height: 100px;
margin: none;}

.navbar {background-color: lightblue;
color: navy;}

<!--Here we made a footer that is fixed to the bottom of the page.-->
.footer {
    position:fixed;
    bottom:0px;
    height:30px;
    width:100%;
    background-color:#171717;
    color:white;
}